div {
	//width: 150px;	height: 100px; /* Размеры */
	width: 30%; height: 20%;
	position: absolute;
	margin: auto;
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;
	background: #FFFFFF; /* Белый цвет фона */
	margin:10px auto; // положение в центре
	border: 3px solid #fff; /* Белая рамка */
	border-radius: 10px; /* Радиус скругления */
}
body {
	background: linear-gradient(to top, #000000, #6B8E23);// суперкрутой градиент
}


input[type=text] {
    color:#999;
}
input[type=text]:focus {
    color:#000;
}

###############################################################################################################